li {
	display: inline-block;
	list-style: none;
	padding: 40px;
}
ul {
	text-align: center;
}
a:hover {
	color: blue;
}
a {
	text-decoration: none;
}
div {
	text-align: center;
}
nav {
	background-color: yellow;
	height: 100%;
	padding: 5px 40px;
}
.button {
	background-color: grey;
	padding: 0;
}
#face {
	font-size: 15px;
	background-color: blue;
	border-radius: 20%;
	padding: 5px 10px;
	margin: 30px;
}
#insta {
	font-size: 20px;
	background-color: red;
	border-radius: 30%;
	padding: 5px 10px;

}
#twitt {
	font-size: 40px;
	background-color: orange;
	border-radius: 35%;
	padding: 5px 10px;
	margin: 40px;
}
body {
	margin: 0;
}